@font-face{
    font-family: 'Work Sans';
    src: url(./fonts/WorkSans-Regular.ttf);
}
@font-face {
    font-family: 'Space Mono';
    src: url(./fonts/SpaceMono-Regular.ttf);
}
body{
    background-color: #2B2B2B;
}
.container-fluid{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#NFT{
    color: #FFFFFF;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
}
#li-a{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
text-align: center;
color: #FFFFFF;
text-decoration: none;
}
#rocket{
padding: 0px 50px;
width: 224px;
height: 60px;
background: #A259FF;
border-radius: 20px;
border-color: transparent;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
text-align: center;

color: #FFFFFF;}

#sale>p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 23.99px;
line-height: 160%;
text-transform: capitalize;
color: #FFFFFF;
}
.content1> h2{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 110%;
display: flex;
align-items: center;
text-transform: capitalize;
color: #FFFFFF;
margin-bottom: 20px;
}
.content1>p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 160%;
text-transform: capitalize;
color: #FFFFFF;
}
#navbarNav{
    margin-left: auto;
    
}
.navbar-nav{
    justify-content: center;
    display: flex;
    align-items: center;
}
#btn{
padding: 0px 30px;
width: 152px;
height: 60px;
background: #A259FF;
border-radius: 20px;
color: #FFFFFF;
border-color: transparent;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
}
